h2{
color: purple;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 200;
font-style: italic}

/* text-align: center; */

.logo{
    border-radius: 30px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}